@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.wrap {
    position: relative;
    width: 100%; max-width: 1600px;
    padding-left: 200px;
}
header{
    position: fixed;top: 0;left: 0;
    width: 200px;height: 100vh;
    background: lightpink;
}
header h1 a {
    display: block;
    height: 100px;
    background: url(../images/logo.png) 50% 50% no-repeat;
    background-size: 90% auto;
    text-indent: -9999px;
}
nav .nav-d1 {
    width: 90%;
    margin: auto;
    text-align: center;
    display: block;
    background: #e70082;
    
}
nav .nav-d1 >li > a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: white;
}
nav .nav-d2 a {
   font-size: 14px;
   line-height: 1.7;
    display: block;
    background: #fff;
}



.link-more {
  position: absolute;top: 2px;right: 0;
}









.slide img{
  height: auto;
}


.container {
    display: flex;
    justify-content: space-between;
}
.container h2 {
  padding: 0 0 3px 2px;
  color: #e70082;
  font-family: Verdana,  sans-serif;
}
.container .sec-g {
    width: 40%;
}
.cont  a {
    font-size: 12px;
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0 0px 15px;
}
.sec-bbs .cont  ul li a::before {
    position: absolute;top: 13px ;left: 8px;
    content: "";
    display: block;
    width: 3px;height: 3px;
    background: #777;
    border-radius: 50%;
}
.time {
  float: right;
  margin: 0 30px 0 0;
  font-size: 12px;font-family: Verdana,  sans-serif;
  color: #999;
}





.sec-gallery a img {
  margin: 5px 0 0 0;
  width: 100%;
}







footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: lightgray;
}
footer h1 {

}