@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.wrap {
    position: relative;
    width: 100%; max-width: 1600px;
    padding-left: 200px;
}



header{
    position: fixed;top: 0;left: 0;
    width: 200px;height: 100vh;
    background: lightpink;
  }
header h1 a {
    display: block;
    height: 100px;
    background: url(../images/logo.png) 100% 50% no-repeat;
    background-size: 90% auto;
    text-indent: -9999px;
}
nav .nav-d1 {
    width: 90%;
    margin: auto;
    text-align: center;
    display: block;
    background: #e70082;
    
}
nav .nav-d1 >li.on > a {
    height: 30px;
    line-height: 30px;
    color: white;
}
nav .nav-d1 >li.on > a > i {
  color: #fff;
}
nav .nav-d1 >li.on > a::after {
  color: #fff;
  
}

nav .nav-d1 >li.on .nav-d2 {
  display: block;
}

nav .nav-d2 {
  display: none;
}

nav .nav-d2 a {
  display: block;
   font-size: 14px;
   line-height: 1.7;
    background: #fff;
}

nav .nav-d2 a:hover {
  background: #ddd;
}


.slide img{
  width: 100%;
}

.sec-g {
  position: relative;
}
.link-more {
  position: absolute;top: 5px;right: 0px;
  font-size: 14px;
  color: #777;
}
.link-more::after {
  content: "\f067";
  margin-left: 3px;
  font-family: 'Line Awesome Free';
  font-weight: 900;
}


.container {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.tit- {
  display: block;
  position: relative;
  font-size: 20px;
  padding-left: 10px;
}
.tit-::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
}

.tit- span {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-family: Verdana,  sans-serif;
  font-size: 20px;
  color: #e70082;
}
.container .sec-g {
    width: 50%;
}
.cont .lst {
  padding-left: 10px;
}
.cont  a {
    overflow: hidden;
    font-size: 12px;
    position: relative;
    display: block;
    white-space: nowrap;
    padding-left: 13px;
    line-height: 1.8;
  }
.sec-bbs .cont  ul li a::before {
    position: absolute;top: 8px ;left: 5px;
    content: "";
    display: block;
    width: 3px;height: 3px;
    background: #777;
    border-radius: 50%;
}
.time {
  float: right;
  font-size: 12px;font-family: Verdana,  sans-serif;
  color: #999;
}

.sec-gallery h2 {
  margin-bottom: 0;
}
.sec-gallery .cont {
  position: relative;
  overflow: hidden;
  height: 180px;
}
.sec-goto .cont {
  display: flex;
  justify-content: space-between;
}
.sec-goto a {
  display: inline-block;
  width: 90%;
  text-align: center;
  padding: 35px 0 0 15px ;  
}
.sec-goto img {
  display: block;
  margin: 0 auto 3px;    
}



footer {
  height: 120px;width: 100%;
  text-align: right;
  justify-content: space-between;
  background: #ddd;
  padding-right: 20px;
}
.foot-tit {
  padding-top: 15px;
  font-size: 15px;
}
address {
  font-size: 14px;
  font-style: normal;
}
footer .foot-sns {
  padding-left: 20px;
}

footer .foot-sns a {
  float: left;
}
footer .foot-sns i {
  font-size: 30px;
}
.copyright {
  margin: 15px 0 0 0;
  font-size: 10px;
}